<h1>Editing Task</h1>
$('.modal-body').html("<%= j render 'form', task: @task %>");
$('.modal').modal();
<%= render 'form', task: @task %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
